<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="utf-8">
 <title>Titre de la page</title>
 <link rel="stylesheet" href="style.css">
 <link data-brackets-id='19474' rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  
</head>

	<body>
		
	<footer >
	<div class="footer">
  <div class="footer-links">
    
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    
  </div>
  <div class="footer-copyright">
		<div class="lead"> Learn it </div>
</div>
		</div>
	</footer>
	</body>
	
</html>