<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>A propos de Learn it</h3>
      <p>Learn it permet de partager tes meilleures fiches de cours avec le reste du monde :)</p>
    </div>

    <div class="col-md-3 ml-auto">
      <h3>Liens utiles</h3>
      <ul class="list-unstyled footer-links">
        <li><a href="/">Accueil</a></li>
        <% if current_user %>
          <li><a href="/lessons/new">Ajouter un cours</a></li>
        <% else %>
          <li><%= link_to "Ajouter un cours", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Aide LearnIt</h3>
      <p>Tu peux aider Learn It en faisant un don :
       <%= link_to "Faire un don", new_charge_path %>
         </p>
    </div>
  </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy 2019 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
