<!DOCTYPE htmL>

<html>

    <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

    <link href="../stylesheets/application.css" rel="stylesheet">
  

    </head>

    <body>

           <!-- Navbar -->

           <header>

                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #faaa62;">
                    <a class="navbar-brand" href="/">Learnit</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                    
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">            
                                <li class="nav-item">
                                    
                                        <a class="nav-link dropdown-toggle" href="#" id="Matieres" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Matières
                                        </a>
                                        
                                        <div class="dropdown-menu" aria-labelledby="Matieres">
                                            
                                            <a class="dropdown-item" href="#">Mathématiques</a>
                                            <a class="dropdown-item" href="#">Français</a>
                                            <a class="dropdown-item" href="#">Histoire-Géo</a>
                                            <a class="dropdown-item" href="#">Anglais</a>
                                            <a class="dropdown-item" href="#">EPS</a>
                                            <a class="dropdown-item" href="#">SVT</a>
                                            <a class="dropdown-item" href="#">Physique-Chimie</a>

                                            <a class="dropdown-item" href="#">Something else here</a>

                                        </div>

                                    </li>    
                                        
                                    <li class="nav-item">     
                                    
                                    <a class="nav-link dropdown-toggle" href="#" id="Cours" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mes cours
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="Cours">
                                        
                                        <a class="dropdown-item" href="#">Ajouter un cours</a>
                                        <a class="dropdown-item" href="#">Mes favoris</a>
                                        <a class="dropdown-item" href="#">Voir tous mes cours</a> 
                                        
                                    </div>

                                  
                                    
                                </li>

                           </ul>
                    
                    
                    <form>
                    <% if current_user %>
                      
                          <button  class="buttonSign"><%= link_to "Mon profil", users_show_path(:id => current_user.id) %></button>
                          <button class="buttonSign"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></button>

                      
                          <% else %>
                  
                      <button class="buttonSign"><%= link_to "Se connecter", new_user_session_path%></button>
                      <button class="buttonSign"><%= link_to "S'inscrire", new_user_registration_path%></button>
                    <% end %>
                   
                    
                   
                    </form>
               
                    
   
                </div>

                
            </nav>

           
        </header>


    </body>

</html>