<!DOCTYPE htmL>

<html>

    <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

    <link href="../stylesheets/application.css" rel="stylesheet">
  

    </head>

    <body>

           <!-- Navbar -->

           <header>

                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #faaa62;">
                    <a class="navbar-brand" href="#">Learnit</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                    
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">            
                                <li class="nav-item">
                                    
                                        <a class="nav-link dropdown-toggle" href="#" id="Matieres" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Matières
                                        </a>
                                        
                                        <div class="dropdown-menu" aria-labelledby="Matieres">
                                            
                                            <a class="dropdown-item" href="#">Mathématiques</a>
                                            <a class="dropdown-item" href="#">Français</a>
                                            <a class="dropdown-item" href="#">Histoire-Géo</a>
                                            <a class="dropdown-item" href="#">Anglais</a>
                                            <a class="dropdown-item" href="#">EPS</a>
                                            <a class="dropdown-item" href="#">SVT</a>
                                            <a class="dropdown-item" href="#">Physique-Chimie</a>

                                            <a class="dropdown-item" href="#">Something else here</a>

                                        </div>

                                    </li>    
                                        
                                    <li class="nav-item">     
                                    
                                    <a class="nav-link dropdown-toggle" href="#" id="Cours" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mes cours
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="Cours">
                                        
                                        <a class="dropdown-item" href="#">Ajouter un cours</a>
                                        <a class="dropdown-item" href="#">Mes favoris</a>
                                    
                                        
                                    </div>

                                  
                                    
                                </li>

                           </ul>
                    <div class="navbarRigth">
                          
                            <form>
                          <!--  <i class="fas fa-user"></i> -->
                          <!-- <input class="buttonSign" type="button"  value="Sign In"> -->
                          <!-- <input class="buttonSign" type="button"  value="Sign Up"> -->
                           
                          
                           <% if current_user %>
                     
                                 <button class="buttonSign" type="submit"><%= link_to "Mon profil", user_path(:id => current_user.id), class:"nav-link" %></button>
                                     <button class="buttonSign" type="submit"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></button>
                     
                                 <% else %>
                             <button class="buttonSign" type="submit"><%= link_to "Se connecter", new_user_session_path%></button>
                             <button class="buttonSign" type="submit"><%= link_to "S'inscrire", new_user_registration_path%></button>
                           <% end %>


                           </form>
                          
                     
                           
                    </div>
                    
   
                </div>

                
            </nav>

           
        </header>


 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>