<!DOCTYPE htmL>

<form>
  <fieldset style="margin:50px">
  	<%= form_tag url_for(action:'create'), method: "post" do %>
    <legend>Ajoute ta ressource</legend>
    <div class="form-group">
      <label for="topic">Matière</label>
      <select class="form-control" id="topic">
        <% @topics.all.each do |x| %>
    <option><%= x.name %></option>
    <%end%>

      </select>
    </div>
    <div class="form-group">
      <label for="title">Titre de ta ressource</label>
      <input type="email" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Ton titre">
      <small id="emailHelp" class="form-text text-muted">Utilise un titre clair et concis.</small>
    </div>
    <div class="form-group">
      <label for="content">Contenu de ta ressource</label>
      <textarea class="form-control" id="content" rows="3" placeholder="Si tu veux taper ta ressource, écris directement dans ce champ. Sinon, upload ton fichier juste en dessous ;)"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Charger un fichier</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Le fichier ne doit pas excéder X Mo.</small>
    </div>
   
    <button type="submit" class="btn btn-primary">Ajouter ma ressource</button>
    <% end %>
  </fieldset>
</form>