/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* bouton connexion s'incrire navBar */

 .buttonSign{
    background-color: #555555;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  
 }

 .buttonSign:hover{
    background: #777;
    color: #555555;
    text-decoration: none;

  }
  
  a{
     text-decoration: none;
  }

   .buttonSign a{
      text-decoration: none;
      color: black;
   }

   .buttonSign a:hover{
      text-decoration: none;
      color: darkmagenta;
   }


   .buttonLessonNew{

      display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
   }

   .buttonLessonNew:hover {opacity: 1;}